<nav class="docs-navbar-header">
  <a _ngcontent-dwh-c49="" mat-button="" routerLink="CrearRegistros" routerLinkActive="active" aria-label="Crear Registros"
   class="mat-focus-indicator docs-button mat-button mat-button-base" 
   aria-disabled="false" href="/"><span class="mat-button-wrapper">
    
  <span _ngcontent-dwh-c49="">Crear Registros</span></span><span matripple="" class="mat-ripple mat-button-ripple">
  </span><span class="mat-button-focus-overlay"></span></a>

  <a _ngcontent-dwh-c49="" mat-button="" routerLink="ConsultarRegistros" routerLinkActive="active" aria-label="Consultar Registros"
   class="mat-focus-indicator docs-button mat-button mat-button-base" 
   aria-disabled="false" href="/"><span class="mat-button-wrapper">
  <span _ngcontent-dwh-c49="">Consultar Registros </span></span><span matripple="" class="mat-ripple mat-button-ripple">
  </span><span class="mat-button-focus-overlay"></span></a>
</nav>

<mat-divider class="divider-blue"></mat-divider>

<div>
  <router-outlet></router-outlet>
</div>
